<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <p>Bonjour {{ user.alias }},</p>

            <p>Veuillez vérifier votre email afin de terminer la configuration de votre compte.</p>

            <p>
                <a href="http://{{ server.SERVER_NAME }}{{ path("user_mail_confirm", [user.validationString]) }}" class="btn btn-primary">Vérifier</a>
            </p>

            <p>Vous pouvez aussi copier-coller le lien ci dessous dans votre navigateur :</p>


            http://{{ server.SERVER_NAME }}{{ path("user_mail_confirm", [user.validationString]) }}

            <p>
                Merci,
                L'équipe Popotier
            </p>
        </div>
    </body>
</html>