<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <p>Bonjour, {{ user.alias }},</p>

            <p>Vous avez demandé une réinitialisation du mot de passe de votre compte Popotier. Dans le cas contraire, ignorez cet e-mail.</p>

            <p>Pour choisir un nouveau mot de passe et valider votre demande, cliquez sur le bouton suivant :</p>

            <p>
                <a href="http://{{ server.SERVER_NAME }}{{ path("user_password_recovery", [user.validationString]) }}" class="btn btn-primary">Réinitialiser mon mot de passe</a>
            </p>

            <p>Si cela ne fonctionne pas, copiez le lien ci-dessous et collez-le directement dans la barre d'adresse de votre navigateur.</p>


            http://{{ server.SERVER_NAME }}{{ path("user_password_recovery", [user.validationString]) }}

            <p>
                Merci,
                L'équipe Popotier
            </p>
        </div>
    </body>
</html>