{% extends 'layout/base.html.twig' %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/recipe/recipe-view.css">
{% endblock %}

{% block content %}

    <div class="container col-lg-6 recipe-container">
        <h3 id="recipe-name" class="center">{{ recipe.name }}</h3>
        <div class="row-md">
            {% if recipe.image %}
                <img class="width100" src="{{ recipe.image }}" alt="image of the recipe">
            {% else %}
                <img class="width100" src="/public/assets/recipes-image/knives.jpg" alt="image of the recipe">
            {% endif %}
        </div>
        <small>Créé le {{ recipe.creationDate | date('d/m/Y') }}</small>

        <hr class="separator">

        <div class="row">
            <div class="col-lg-6">
                <p>
                    <i class="fas fa-clock text-info"></i>
                    Temps de cuisson : {{ recipe.cookingTime }} min
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <i class="fas fa-clock text-info"></i>
                    Temps de préparation : {{ recipe.preparationTime }} min
                </p>
            </div>
        </div>

        <p>Recette pour {{ recipe.personNumber }} personne(s)</p>

        <div class="row">
            <div class="col-lg-6"><p>Difficulté : {{ recipe.difficulty }}/5</p></div>
            <div class="col-lg-6">
                <p>
                    Prix moyen :
                    {% if recipe.meanPrice %}
                        {{ recipe.meanPrice }} €
                    {% else %}
                        nc
                    {% endif %}
                </p>
            </div>
        </div>

        <p>Recette proposée par <a href="/user/view/{{ recipe.author.alias }}">{{ recipe.author.alias }}</a></p>

        <hr class="separator">
        <div class="row">
            <div class="col-lg-4">
                <h4>Ingrédients</h4>
            </div>
            <div class="col-lg-8">
                <h4>Etapes</h4>
                <div class="row">
                    <ol>
                        {% for step in recipe.steps %}
                            <li>
                                {{ step.description }}
                            </li>
                            <br/>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <h4>Commentaires</h4>
        </div>

    </div>

{% endblock %}