{% extends "layout/base.html.twig" %}
{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/recipe/recipe-form.css">
    <link rel="stylesheet" href="/public/css/recipe/tag.css">
{% endblock %}

{% block content %}
    <div id="recipe-form">
        <h2>Ajouter une nouvelle Recette</h2>
        {% if recipeCreated %}
            <div class="alert alert-success" role="alert">
                La recette a bien été créé.
            </div>
        {% endif %}

        <form
                {% if update %}
                    action="{{ path('update_recipe', [recipe.id]) }}"
                {% else %}
                    action="/recipe/add"
                {% endif %}
                method="POST"
                enctype="multipart/form-data"
        >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="form-group col-md-6">
                        <label for="inputName"></label>
                        <input
                                required
                                type="text"
                                class="form-control"
                                id="inputName"
                                name="inputName"
                                placeholder="Nom"
                                {% if update %}
                                    value="{{ recipe.name }}"
                                {% endif %}
                        >
                    </div>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="form-group col-lg-6">
                        <label for="inputImage" class="file-input">
                            <i class="fas fa-file-import"></i>
                            Choisissez une image pour votre recette
                        </label>
                        <input type="file" class="file-input" id="inputImage" name="fileToUpload"
                               accept="image/png, image/jpeg" onchange="readURL(this)">
                        <div id="image-container">
                            <img
                                    {% if update and recipe.image %}
                                        src="{{ globals.recipe_image_path}}{{ recipe.image }}"
                                    {% else %}
                                        src="{{ globals.recipe_image_path}}knives.jpg"
                                    {% endif %}
                                    alt="image du plat"
                                    id="image">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm">
                    <label for="inputTag">Etiquettes lié a la recette</label>
                    <input  class="form-control" id="tags" name="inputTag" type="text" value="{{ tags }}" autocapitalize="sentences">
                </div>

                <hr>

                <h2>
                    Informations sur la recette
                </h2>

                <div class="form-group row">
                    <div class="col-sm">
                        <label for="inputType"> Type de la recette </label>
                        <select class="form-control" id="inputType" name="inputType" placeholder="Type">
                            {% for recipeType in recipeTypes %}
                                {% if update and recipeType.label == recipe.type.label %}
                                    <option value="{{ recipeType.id }}"
                                            selected="selected">{{ recipeType.label }}</option>
                                {% else %}
                                    <option value="{{ recipeType.id }}">{{ recipeType.label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-sm">
                        <label for="inputCookingTime"> Temps de cuisson en minute</label>
                        <input type="number"
                               class="form-control"
                               id="inputCookingTime"
                               name="inputCookingTime"
                               min="0"
                                {% if update %}
                                    value="{{ recipe.cookingTime }}"
                                {% else %}
                                    value="0"
                                {% endif %}
                        >
                    </div>

                    <div class="col-sm">
                        <label for="inputPreparationTime"> Temps de préparation en minute</label>
                        <input type="number" class="form-control" id="inputPreparationTime" name="inputPreparationTime"
                               min="0"
                                {% if update %}
                                    value="{{ recipe.cookingTime }}"
                                {% else %}
                                    value="0"
                                {% endif %}
                        >
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm">
                        <label for="inputPersonNumber"> Nombre de personne </label>
                        <select class="form-control" id="inputPersonNumber" name="inputPersonNumber">
                            {% for i in range(1, 10) %}
                                {% if update and recipe.personNumber == i %}
                                    <option value="{{ i }}" selected="selected">{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-sm">
                        <label for="inputDifficulty">Difficulté</label>
                        <select class="form-control" id="inputDifficulty" name="inputDifficulty">
                            {% for i in range(1, 5) %}
                                {% if update and recipe.difficulty == i %}
                                    <option value="{{ i }}" selected="selected">{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col">
                        <label for="inputMeanPrice">Prix moyen (en euros)</label>
                        <input
                                type="number"
                                class="form-control"
                                id="inputMeanPrice"
                                name="inputMeanPrice"
                                {% if update %}
                                value= {{ recipe.meanPrice }}
                                {% endif %}
                        >
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAuthorQuote"> Annotations </label>
                    <textarea class="form-control" id="inputAuthorQuote" name="inputAuthorQuote"
                              autocapitalize="sentences">{{ recipe.authorQuote }}</textarea>
                </div>

                <hr>

                {% include 'recipe/recipe-step-create.html.twig' %}

                <hr>

                {% include 'recipe/recipe-ingredient-create.html.twig' %}

                <div class="text-center">
                    <button id="submit" type="submit" class="btn btn-primary width100" name="addRecipe">
                    {% if update %}
                            Modifier la recete
                    {% else %}
                            Ajouter la recette
                    {% endif %}
                    </button>
                </div>

            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/recipe/recipe-create-form.js"></script>
    <script src="/public/js/recipe/recipe-steps.js"></script>
    <script src="/public/js/recipe/recipe-ingredients.js"></script>
    <script src="/public/js/recipe/form-tags.js"></script>
{% endblock %}

