{% extends 'layout/base.html.twig' %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/recipe/recipe-view.css">
{% endblock %}

{% block content %}

    <div class="container col-lg-6 recipe-container">
        <h3 id="recipe-name" class="center">{{ recipe.name }}</h3>
        <div id="global-rating" class="center rating-display">
            {% for i in 0..4 %}
                {% if recipeAverageRating > i %}
                    <i class="fas fa-star icon fa-lg"></i>
                {% else %}
                    <i class="far fa-star icon fa-lg"></i>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row container">
            <span class="tag">#{{ recipe.type.label }}</span>
            {% for tag in tags %}
                <span class="tag">#{{ tag }}</span>
            {% endfor %}
        </div>
        <div class="row-md">
            <div id="image-container">
                {% if recipe.image %}
                    <img class="width100" src="{{ globals.recipe_image_path}}{{ recipe.image }}"
                         alt="image of the recipe" id="image">
                {% else %}
                    <img class="width100" src="{{ globals.recipe_image_path}}knives.jpg" alt="image of the recipe">
                {% endif %}
            </div>
        </div>
        <p>Recette proposée par <a href="/user/view/{{ recipe.author.alias }}">{{ recipe.author.alias }}</a>, le {{ recipe.creationDate | date('d/m/Y') }}</p>

        <hr class="separator">

        <div class="row">
            <div class="col-lg-2">
                <button class="like-btn btn btn-info"
                        type="button"
                        onclick="handleLikeButtonClick({{ recipe.id }}, false)"
                        data-toggle="tooltip"
                        {% if recipeLiked %}
                            title="Enlever de mes recettes favorites"
                        {% else %}
                            title="Ajouter de mes recettes favorites"
                        {% endif %}
                >
                    {% if recipeLiked %}
                        <i class="fas fa-heart fa-2x"></i>
                    {% else %}
                        <i class="far fa-heart fa-2x"></i>
                    {% endif %}
                </button>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <p>
                            <i class="fas fa-clock icon"></i>
                            Temps de cuisson : {{ recipe.cookingTime }} min
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <i class="fas fa-clock icon"></i>
                            Temps de préparation : {{ recipe.preparationTime }} min
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <i class="fas fa-users icon"></i>
                        {{ recipe.personNumber }} personne(s)
                    </div>
                    <div class="col">
                        <i class="fas fa-utensils icon"></i>
                        Difficulté : {{ recipe.difficulty }}/5
                    </div>
                    <div class="col">
                        <i class="fas fa-coins icon"></i>
                        Prix moyen :
                        {% if recipe.meanPrice %}
                            {{ recipe.meanPrice }} €
                        {% else %}
                            nc
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <hr class="separator">
        <div class="row">
            <div class="col-lg-4">
                <h4>Noter cette recette</h4>
                <div id="user-rating" class="rating-display">
                    {% for i in 0..4 %}
                        <button type="button" onclick="rateRecipe({{ recipe.id }}, {{ i + 1 }})">
                            {% if userRating > i %}
                                <i class="fas fa-star icon fa-lg"></i>
                            {% else %}
                                <i class="far fa-star icon fa-lg"></i>
                            {% endif %}
                        </button>
                    {% endfor %}
                </div>

                <h4>Ingrédients</h4>
                {% for ingredient in recipe.ingredients %}
                    <div>
                        {{ ingredient.ingredient.name }}
                        {{ ingredient.quantity }}
                        {{ ingredient.unit.name }}
                    </div>
                {% endfor %}

            </div>
            <div class="col-lg-8">
                <h4>Etapes</h4>
                <div id="recipeSteps" class="row">
                    <ol>
                        {% for step in recipe.steps %}
                            <li>
                                {{ step.description }}
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <hr/>
        <h4>Commentaires</h4>
        <div class="row">
            <div class="col-lg-10">
                <textarea class="form-control" id="commentTextArea" placeholder="Quelle fantastique recette..."
                          rows="2"></textarea>
            </div>
            <div class="col-lg-2">
                <button id="submitComment" type="submit" class="btn btn-primary btn-info"
                        onclick="commentRecipe({{ recipe.id }})">Envoyer
                </button>
            </div>
        </div>
        <div id="recipeComments" class="row">
            {% for comment in recipeComments %}
                <span><a href="/user/view/{{ comment.user.alias }}">{{ comment.user.alias }}</a>, le {{ comment.date|date("d/m/Y") }} à {{ comment.date|date("H:i:s") }}</span>
                <div class="comment alert alert-secondary" role="alert">
                    {{ comment.description }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/public/js/recipe/recipe-rate-system.js"></script>
    <script src="/public/js/recipe/recipe-like-system.js"></script>
    <script src="/public/js/recipe/recipe-comment-system.js"></script>
{% endblock %}