<div class="container col-md-6 modal">
    <h3>{{ recipe.name }}</h3>
    <div class="row-md">
        <div id="image">
            {% if recipe.image %}
                <img class="width100" src="/public/assets/recipes-image/{{ recipe.image }}" alt="image of the recipe">
            {% else %}
                <img class="width100" src="/public/assets/recipes-image/knives.jpg" alt="image of the recipe">
            {% endif %}
        </div>
    </div>
    <small>Créé le {{ recipe.creationDate | date('d/m/Y') }}</small>

    <hr class="separator">

    <div class="row">
        <div class="col-md-6"><p>Temps de cuisson : {{ recipe.cookingTime }} min</p></div>
        <div class="col-md-6"><p>Temps de préparation : {{ recipe.preparationTime }} min</p></div>
    </div>

    <p>Recette pour {{ recipe.personNumber }} personne(s)</p>

    <div class="row">
        <div class="col-md-6"><p>Difficulté : {{ recipe.difficulty }}/5</p></div>
        <div class="col-md-6">
            <p>
                Prix moyen :
                {% if recipe.meanPrice %}
                    {{ recipe.meanPrice }} €
                {% else %}
                     nc
                {% endif %}
            </p>
        </div>
    </div>

    <p>Recette proposée par <a href="/user/view/{{ recipe.author.alias }}">{{ recipe.author.alias }}</a></p>

    <hr class="separator">

    <div class="row">
        <div class="col-4">
            <h4>Ingrédients</h4>
            {% for ingredient in recipe.ingredients %}
                <div>
                    {{ ingredient.ingredient.name }}
                    {{ ingredient.quantity }}
                    {{ ingredient.unit.name }}
                </div>
            {% endfor %}

        </div>
        <div class="col">
            <h4>Etapes</h4>
            {% for step in recipe.steps %}
                <div class="row">
                    <p>
                        <strong>{{ step.position }} .</strong>
                        {{ step.description }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row-md-12">
        <button class="btn btn-info width100" onclick="validateRecipe({{ recipe.id }})">Valider</button>
    </div>
</div>