{% extends 'admin/admin-page.html.twig' %}

{% block scripts %}
    {{ parent() }}
    <script src="/public/js/admin/admin-tag.js"></script>
{% endblock %}

{% block admin_content %}
    <h3>Tags</h3>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for tag in tags %}
                    <tr>
                        <td><input type="text" class="form-control tag" value="{{ tag.name }}" onchange="updateTagValue(this, {{ tag.id }})" ></td>

                        <td>
                            <button class="btn btn-outline-danger" onclick="deleteTag({{ tag.id }})">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <form action="{{ path('add_tag') }}" method="POST">
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="inputTagName" name="inputTagName" placeholder="Ajouter un tag">
                            </div>
                        </td>
                        <td>
                            <button id="submit" class="btn btn-outline-info" type="submit" disabled><i class="fas fa-plus"></i></button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}