{% extends 'admin/admin-page.html.twig' %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/admin/admin-recipe.css">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/public/js/admin/admin-recipe.js"></script>
{% endblock %}


{% block admin_content %}
    {% if checkingValidatedRecipes %}
        <h3>Liste des recettes validées</h3>
    {% else %}
        <h3>Liste des recettes à valider</h3>
    {% endif %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.author.alias }}</td>
                <td>{{ recipe.creation_date | date('d/m/Y') }}</td>
                <td>{{ recipe.type.label }}</td>
                <td>
                    <button class="btn btn-info" onclick="getRecipeSummary({{ recipe.id }})">voir</button>
                    <!-- Validate or devalidate a recipe -->
                    {% if recipe.valid %}
                        <button class="btn btn-info" onclick="devalidateRecipe({{ recipe.id }})">dévalider</button>
                    {% else %}
                        <button class="btn btn-info" onclick="validateRecipe({{ recipe.id }})">valider</button>
                    {% endif %}
                    <!-- Do the right redirection -->
                    {% if recipe.valid %}
                        <a class="btn btn-outline-danger" href="{{ path('delete_validated_recipe', [recipe.id]) }}" >
                    {% else %}
                        <a class="btn btn-outline-danger" href="{{ path('delete_recipe_to_validate', [recipe.id]) }}" >
                    {% endif %}
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="dialog fade" id="modal" role="dialog">

    </div>
{% endblock %}

