{% extends 'layout/base.html.twig' %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/admin/admin-page.css">
{% endblock %}
{% block scripts %}
    <script src="/public/js/admin/admin-page.js"></script>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <nav id="sidenav">
            <div class="sidebar-header">
                <h3>Administration</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a id="dashboard" href="{{ path('admin_dashboard') }}" onclick="setActive(this)">Dashboard</a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#recipeCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="setActive(this)">Recettes</a>
                </li>
                <div class="collapse" id="recipeCollapse">
                    <li>
                        <a id="recipe" href="{{ path('admin_recipes_to_validate') }}" onclick="setActive(this)">Recettes à valider</a>
                    </li>
                    <li>
                        <a id="recipe" href="{{ path('admin_validated_recipes') }}" onclick="setActive(this)">Recettes validées</a>
                    </li>
                </div>
                <li>
                    <a id="tag" href="{{ path('admin_tags') }}" onclick="setActive(this)">Tags</a>
                </li>
                <li>
                    <a id="allergy" href="{{ path('admin_allergies') }}" onclick="setActive(this)">Allergènes</a>
                </li>
            </ul>
        </nav>
        <div id="admin-content">
            <button type="button" id="sidenavCollapse" class="btn btn-info">

                <span><i class="fas fa-bars"></i></span>
            </button>

            {% block admin_content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}
