{% extends "layout/base.html.twig" %}

{% block title %}{{ page }}{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/home/home-page.css">
{% endblock %}

{% block content %}
    <div id="search-section" class="container col">
        <div class="row search-content">
            <div class="center-search">
                <input id="search-input" class="form-control" type="text" placeholder="Une envie particulière?">
            </div>
        </div>
    </div>

    <div id="search-result-section" class="container"></div>
    <div id="loading-spinner" class="d-flex justify-content-center text-success">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <hr class="separator">

    <h2>Dernières recettes</h2>

    <div id="recipe-section" class="container">
        <div class="row justify-content-center">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="row-sm-4">
                        <div class="recipe-block">
                            <a href="{{ path('recipe_view', [recipe.id]) }}">
                                <div class="recipe-image">
                                    {% if recipe.image %}
                                        <img src="{{ globals.recipe_image_path}}{{ recipe.image }}" alt="image du plat">
                                    {% else %}
                                        <img src="{{ globals.recipe_image_path}}knives.jpg" alt="image du plat">
                                    {% endif %}
                                </div>
                                <div class="recipe-description">
                                    <strong class="center">{{ recipe.name }}</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune recette pour le moment :(</p>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/search.js"></script>
{% endblock %}

