{% extends "layout/base.html.twig" %}

{% block title %}{{ page }}{% endblock %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="/public/css/home/home-page.css">
{% endblock %}

{% block content %}
    <div id="search-section" class="container col">
        <div class="row search-content">
            <div class="center-search">
                <!-- Search bar -->
                <div class="input-group mb-3">
                    <input id="search-input" class="form-control" type="text" placeholder="Une envie particulière?">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters"><i class="fas fa-filter"></i></button>
                    </div>
                </div>
                <!-- Filters -->
                <div class="collapse" id="collapseFilters">
                    <div class="row">
                        <div class="col">
                            <label for="tag-filter">Tag(s)</label>
                            <select id="tag-filter" name="tag-filter" class="selectpicker" multiple data-live-search="true">
                                {% for tag in filterTags %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="type-filter">Type(s)</label>
                            <select id="type-filter" name="type-filter" class="selectpicker" multiple data-live-search="true">
                                {% for type in filterTypes %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="rating-filter">Note</label>
                            <select id="rating-filter" name="rating-filter" class="selectpicker" data-live-search="true">
                                <option value=">4">Tout</option>
                                <option value=">4">>= 4</option>
                                <option value=">3">>= 3</option>
                                <option value=">2">>= 2</option>
                                <option value=">1">>= 1</option>
                            </select>
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                        <div class="col">
                            <label for="season-filter">Saison(s)</label>
                            <select id="season-filter" name="season-filter" class="selectpicker" multiple data-live-search="true">
                                {% for season in filterSeasons %}
                                    <option value="{{ season.id }}">{{ season.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="allergen-filter">Allergène(s) exclu(s)</label>
                            <select id="allergen-filter" name="allergen-filter" class="selectpicker" multiple data-live-search="true">
                                {% for allergen in filterAllergens %}
                                    <option value="{{ allergen.id }}">{{ allergen.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="search-result-section" class="container"></div>
    <div id="loading-spinner" class="d-flex justify-content-center text-success">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <hr class="separator">

    <h2>Dernières recettes</h2>

    <div id="recipe-section" class="container">
        <div class="row">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="row-sm-4">
                        <div class="recipe-block">
                            <a href="{{ path('recipe_view', [recipe.id]) }}">
                                <div class="recipe-image">
                                    {% if recipe.image %}
                                        <img src="{{ recipe.image }}" alt="image du plat">
                                    {% else %}
                                        <img src="/public/assets/recipes-image/knives.jpg" alt="image du plat">
                                    {% endif %}
                                </div>
                                <div class="recipe-description">
                                    <strong class="center">{{ recipe.name }}</strong>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune recette pour le moment :(</p>
            {% endif %}

        </div>

    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
{% endblock %}

